
body {
	text-align: center;
  	background-size: 100vw 100%vh;
	font-family: 'Saira Stencil One', cursive;
	background-color: darkslategrey;
}
section {
	margin-top: 20px;
	font-size: 20px;
	padding: 20px;
}
.player-Z {
	color: navy;
}

.player-M {
	color: chocolate;
} 
h1 {
	text-align: center;
	color: red;
	font-size: 36px;
	text-transform: uppercase;
	margin: 0;
	padding: 10px;
}

p {
	color: black;
	font-size: 20px;
	text-align: center;
	margin-top: 5px;
	margin: 0 auto;
    width: 1000px;
    padding: 5px;
}

button {
	font-family: 'Saira Stencil One', cursive;
	color: white;
	text-align: center;
	text-transform: uppercase;
	height: 50px;
	width: 300px;
	margin: 0 auto;
	display: block;
	background-color:red;
	font-size: 20px;
	font-weight: 600;
	border-style: 10px solid black;
}


h2 {
	color: red;
	font-size: 24px;
	text-align: center;
	margin: 0 auto;
	text-transform: uppercase;

}

h3 {
	color: red;
	font-size: 24px;
	text-align: center;
	margin: 0 auto;
	text-transform: uppercase;
}

.hidden {
	display: none;

}




